<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
            <h2>403 - No esta autorizado para acceder a esta página</h2>
        </div>
        <a href="">Ir a la página principal</a>
    </div>
</div>


@code {

}

