@page "/login"

@layout FullPageComponent
@inject NavigationManager navigation
@inject SweetAlertService swal
@inject IRepositorio repositorio
@inject ILoginService login   

<div class="col-12">
    <section class="vh-100" style="background-color: #ffffff;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card shadow-lg" style="border-radius: 1rem; ">
                        <div class="row g-0">
                            <div class="col-md-6 d-flex justify-content-center align-items-center" style="border-radius:4px;">
                                <div>
                                    <img src="img/MexicoS.jpeg"
                                         alt="login form" class="img-fluid" />
                                </div>
                            </div>
                            <div class="col-6 d-flex align-items-center" style="background-color: #f0ae65;">
                                <div class="card-body p-4 p-lg-5 text-black gsum-bg-ammxs">
                                    <EditForm Model="usuario" OnValidSubmit="LoguearUsuario">
                                        <DataAnnotationsValidator />
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example17">Ingrese su Usuario:</label>
                                            <InputText class="form-control" placeholder="Nombre de usuario" @bind-Value="usuario.Username" />
                                            <ValidationMessage For="@(()=>usuario.Username)" />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example27">Ingrese su contraseña:</label>
                                            <InputText type="password" class="form-control" placeholder="Contraseña" @bind-Value="usuario.Password" />
                                            <ValidationMessage For="@(()=>usuario.Password)" />
                                        </div>
                                        <div class="col-12 mt-4 d-flex justify-content-center">
                                            <button class="btn btn-light btn-lg px-5" type="submit">
                                                Ingresar
                                                @if (loading)
                                                {
                                                    <SpinnerLoading></SpinnerLoading>
                                                }
                                            </button>
                                        </div>

                                    </EditForm>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

@code {
    private UserLogin usuario { get; set; } = new UserLogin();

    private bool loading = false;

    [CascadingParameter] public ErrorHandleComponent? Error { get; set; }

    private async Task LoguearUsuario()
    {
        try
        {
            loading = true;
            var response = await repositorio.Post<UserLogin, UserTokenDTO>("api/auth/login", usuario);
            if (response.Error)
            {
                loading = false;
                string? message = await response.ObtenerMensajeError();
                await swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                loading = false;
                await login.Login(response.Response);
                navigation.NavigateTo("");
            }
        }
        catch (Exception e)
        {
            loading = false;
            Error?.ProcessError(e);
        }
    }
}

