@inherits LayoutComponentBase
@inject IJSRuntime js
@inject NavigationManager navigationManager
@inject ProyectoSuministros.Client.Auth.RenovadorToken renovadorToken

<div class="page">
    <Menu_Lateral_Emergente />

    <main>
        <div>
            <!--Haremos un menuNav superior-->
            <MenuNav />
        </div>

        <article class="content px-2">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
            </ErrorBoundary>
        </article>
    </main>
</div>

@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnInitialized()
    {
        renovadorToken.Iniciar();
    }

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }

}